.responsive{
    display: grid;
    column-gap: 50px;
    align-items: center;
}
.section-name{
    text-align: center;
}
.main-card {
    float: left ;
    /* margin-left: 10%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: auto;
    margin: auto;
    text-align: center;
    font-family: arial;
    /* transition: 0.5s; */
}
/* .main-card:hover{
    width: 320px;
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width:400px;
    height: fit-content;
    margin: auto;
    text-align: center;
    font-family: arial;
    /* position: relative; */
    border-radius: 10px;
    transition: 0.3s;
}
.card:hover{
    /* width: 630px; */
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}


.title {
    color: grey;
    font-size: 18px;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.rounded {
    border-top: 8px solid #bbb;
    border-radius: 10px;
    color: black;
}

.skills {
    display:grid;  
    row-gap: 20px;
    column-gap: 0px ;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }